body{
    background: #eee;
    margin: 0px;
}
.container{
    width: 100%;
    height: 969px;
    background: cadetblue;
}
.header{
    width: 100%;
    height: 200px;
    background: #430a68;
}
.menu {
    width: 100%;
    height: 48px;
    background: #202253;
}
.Body {
    width: 100%;
    height: 721px ;
    background-image: url('../image/main/Instagram.jpg');
}
h1 {
    color: white;
    font-size: 80px;
    letter-spacing: 1px;
    margin-top: 15px;
    text-align: center;
    cursor: default;
}
button {
    float: left;
    margin-left: 20px;
    font-size: 20px;
    padding: 10px 40px;
    font-weight: bold;
    border: 2px solid #111;
    cursor: pointer;
}
button:hover {
    background: #8d8d8d;
}


.btn1 {
    margin-left: 0;
    padding: 0;
    width: 550px;
    height: 580px;
    margin-left :65px ;
    margin-top:40px;
    background: #873395;
    
    border-radius: 20px;
    border: 1px solid #111;
    float: left;
    box-shadow: 3px 8px rgba(0, 0, 0, 0.2);
    
}

.btn1:hover {
    background: #61256b;
}

.btn2 {
    margin-left: 0;
    padding: 0;
    width: 550px;
    height: 580px;
    margin-left :65px ;
    margin-top:40px;
    background: #fe1c1d;
    
    border-radius: 20px;
    border: 1px solid #111;
    float: left;
    box-shadow: 3px 8px rgba(0, 0, 0, 0.2);
    
}

.btn2:hover {
    background: #c01515;
}

.btn3 {
    margin-left: 0;
    padding: 0;
    width: 550px;
    height: 580px;
    margin-left :65px ;
    margin-top:40px;
    background: #fdb046;
    
    border-radius: 20px;
    border: 1px solid #111;
    float: left;
    box-shadow: 3px 8px rgba(0, 0, 0, 0.2);
    
}

.btn3:hover {
    background: #c08636;
}



