body{
    background: #eee;
    margin: 0px;
}
.container{
    width: 100%;
    height: 969px;
    background: cadetblue;
}
.header{
    width: 100%;
    height: 200px;
    background: #ff8b94;
}
.menu {
    width: 100%;
    height: 48px;
    background: #ffaaa7;
}
.Body {
    width: 100%;
    height: 721px ;
    background: #f7ede4;
}
h1 {
    color: white;
    font-size: 80px;
    letter-spacing: 1px;
    margin-top: 15px;
    text-align: center;
    cursor: default;
}
button {
    float: left;
    margin-left: 20px;
    font-size: 20px;
    padding: 10px 40px;
    font-weight: bold;
    border: 2px solid #111;
    cursor: pointer;
}