body{
    background: #eee;
    margin: 0px;
}
.container{
    width: 100%;
    height: 969px;
    background: cadetblue;
}
.header{
    width: 100%;
    height: 200px;
    background: #311d40;
}
.menu {
    width: 100%;
    height: 48px;
    background: #89304e;
}
.Body {
    width: 100%;
    height: 721px ;
    background: #e23e57;
}
h1 {
    color: white;
    font-size: 80px;
    letter-spacing: 1px;
    margin-top: 15px;
    text-align: center;
    cursor: default;
}
button {
    float: left;
    margin-left: 20px;
    font-size: 20px;
    padding: 10px 40px;
    font-weight: bold;
    border: 2px solid #111;
    cursor: pointer;
}

.block{
    width: 33%;
   height: 100%;
   float: left;
   
}

.inblock1 {
    width: 520px;
   height: 450px;
   margin-top: 60px;
   border-radius: 35px;
   border: 1px solid #111;
   box-shadow: 0 7px rgba(0, 0, 0, 0.1);
   background:#552340;
   cursor: pointer;
}
.inblock1:hover{
    background:#3a182c;
}
.inblock2 {
    width: 520px;
   height: 450px;
   margin-top: 60px;
   border-radius: 35px;
   border: 1px solid #111;
   box-shadow: 0 7px rgba(0, 0, 0, 0.1);
   background:#522546;
   cursor: pointer;
}
.inblock2:hover{
    background:#271221;
}
.inblock3 {
    width: 520px;
   height: 450px;
   margin-top: 60px;
   border-radius: 35px;
   border: 1px solid #111;
   box-shadow: 0 7px rgba(0, 0, 0, 0.1);
   background:#89304e;
   cursor: pointer;
}
.inblock3:hover{
    background:#69253c;
}

.inblock4 {
    width: 520px;
   height: 450px;
   margin-top: 60px;
   border-radius: 35px;
   border: 1px solid #111;
   box-shadow: 0 7px rgba(0, 0, 0, 0.1);
   background:#89304e;
   cursor: pointer;
}
.inblock4:hover{
    background:#69253c;
}

h2{
    font-size: 60px;
    margin-top: 0px;
    color: white;
    cursor:pointer;
    
}

button:hover{
    background: #8d8d8d;
}

.btn {
    border-radius: 35px;
    border: 1px solid #111;
    margin-top: 20px;
    
}
.btn:hover {
    opacity: 0.5;
}


