body{
    background: #eee;
    margin: 0px;
}
.container{
    width: 100%;
    height: 969px;
    background: cadetblue;
}
.header{
    width: 100%;
    height: 200px;
    background: #a9d8ea;
}
.menu {
    width: 100%;
    height: 48px;
    background: #ab95dd;
}
.Body {
    width: 100%;
    height: 721px ;
    background: #fffed3;
}
.Bodyleft{
    width: 10%;
    height: 100%;
    
    float:left;
}
.Bodyright{
    width: 90%;
    height: 100%;
    
    float:left;
}
h1 {
    color: white;
    font-size: 80px;
    letter-spacing: 1px;
    margin-top: 15px;
    text-align: center;
    cursor: default;
}
button {
    float: left;
    margin-left: 20px;
    font-size: 20px;
    padding: 10px 40px;
    font-weight: bold;
    border: 2px solid #111;
    cursor: pointer;
    background:#f4bed3;
}
button:hover {
    background: #d69ab0;
}
.btn {
    margin-top: 50px;
    width: 160px;
    height: 80px;
    border-radius: 30px;
    border: 1px solid #111;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}
.record {
    width : 80%;
    height: 50%;
    background: salmon;
    margin-top: 90px;
    margin-left: 40px;
    float: left;
    border-radius: 40px;
}
.block {
    width : 25%;
    height: 100%;
    float: left;
}

h2 {
    color: #111;
    font-size: 28px;
    margin: 0;
}
h3 {
    color: #111;
    font-size: 25px;
    cursor: default;
    margin: 0;
    text-align: right;
}
img{
    border-radius: 30px;
    margin-top: 80px;
    margin-left: 45px;
}
input {
    width:60px;
    margin-top: 9px;
    margin-left: 5px;
}


